[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
typing-extensions = "*"
plotly = "*"
mlflow = "*"
google-cloud = "*"
google-cloud-storage = "*"
gcsfs = "*"
st-files-connection = "*"

[dev-packages]

[requires]
python_version = "3.11"
